MONGO_URL=mongodb+srv://<usuario>:<senha>@cluster0.vfsus5l.mongodb.net/horrorflix2?appName=Cluster0

REDIS_HOST=seu-host-do-redis.redislabs.com
REDIS_PORT=10937
REDIS_PASSWORD=sua_senha_do_redis

TMDB_KEY=sua_chave_do_tmdb